<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<coinbasemethod>
				<active>0</active>
				<model>CoinbaseCommerce\PaymentGateway\Model\Payment\Coinbasemethod</model>
				<order_status>pending</order_status>
				<title>Coinbase Commerce</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
				<api_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
			</coinbasemethod>
		</payment>
	</default>
</config>
