.payment-method .brandImages {
    margin-left: 40px;
}
.payment-method-redirect-message{
    background-color: #fafafa;
    padding: 25px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}
.payment-method-redirect-message p{
    font-size: 14px;
    font-family: Roboto, sans-serif;
    margin: 0;
    text-align: center;
    line-height: 19px;
}
@media only screen and (max-width: 440px) {
    .payment-method .brandImages {
        margin-left: 0;
        float: right;
    }
}